@page
@model Florio.WebApp.Pages.AutocompleteModel

@{
    Layout = null;
}

@foreach (var word in Model.Results)
{
    <li>
        <a class="dropdown-item text-wrap" asp-page="Italian" asp-route-word="@word">@word</a>
    </li>
}
