html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family:'Times New Roman', Times, serif;
}

a {
    color: var(--bs-dark);
}
span > a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.icon-link {
    text-decoration-color: var(--bs-dark);
}

.dropdown-menu {
    width: 100%;
}

span > :not(em) {
    font-weight: lighter;
}

td > img {
    object-fit: fill;
    height: 100%;
    width: 35px;
    opacity: 75%;
}

.fv-small-caps {
    font-variant: small-caps;
}

.ls-1 {
    letter-spacing: 0.1em;
}
.ls-2 {
    letter-spacing: 0.2em;
}

main {
    padding-bottom: 21rem !important;
}

@media (min-width: 576px) {
    main {
        padding-bottom: 15rem !important;
    }
}

@media (min-width: 768px) {
    main {
        padding-bottom: 15rem !important;
    }
}

@media (min-width: 992px) {
    main {
        padding-bottom: 12rem !important;
    }
}
